:host {
	display: block;
	background: #29262b;
	color: #172e3c;
	padding: 1em 0;
	min-height: 100vh;

	&.loaded {
		//background: url('/build/statics/images/bg-min.jpg');
		//background-size: auto 100vh;
		//background-attachment: fixed;
		//background-position: 50% 0;
	}
}
