.container.card.primary-links(style='opacity: .2')
	.row.text-xs-center
		a.btn.btn-primary(href='https://github.com/mindfreakthemon/')
			span.pic.pic-github
		a.btn.btn-primary.disabled
			span.pic.pic-tumblr
		a.btn.btn-primary.disabled
			span.pic.pic-twitter
		a.btn.btn-primary.disabled
			span.pic.pic-linkedin
		a.btn.btn-primary.disabled
			span.pic.pic-instagram
		a.btn.btn-primary.disabled
			span.pic.pic-facebook-square
		a.btn.btn-primary(href='skype:vitaliy.r4?chat')
			span.pic.pic-skype
		a.btn.btn-primary.disabled
			span.pic.pic-foursquare
		a.btn.btn-primary.disabled
			span.pic.pic-google-plus
		a.btn.btn-primary(href='https://www.last.fm/user/mindfreakthemon')
			span.pic.pic-lastfm
		a.btn.btn-primary.disabled
			span.pic.pic-pinterest
		a.btn.btn-primary.disabled
			span.pic.pic-vk
		a.btn.btn-primary.disabled
			span.pic.pic-reddit
		a.btn.btn-primary(href='mailto:lost@middle-of-nowhere.name')
			span.pic.pic-envelope
