:host {
	display: inline-block;
}

img,
.img-placeholder {
	width: 64px;
	height: 64px;
}

.img-placeholder {
	display: inline-block;
	background: #ccc;
	text-align: center;
	font-size: 2em;

	line-height: 64px;
}

.description {
	font-size: 0.8em;
}

.badge {
	font-size: 0.6em;
}
