:host {
	display: block;
}

.draggable {
	opacity: .5;
}


.droppable {
	background: red;
}

.container {
	overflow: hidden;
}

.list-group-item {
	padding: .15rem .5rem;
}

.card-block {
	padding: 1rem;
}

.card {
	margin: 1em 0;
}
