:host {
	display: block;
	width: 100%;

	font-family: Consolas, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}


.nav-link {
	position: relative;
	border-bottom: 1px solid transparent;
}

.active {
	&::before {
		content: '>';
		position: absolute;
		right: calc(100% - .5em);
	}

	border-bottom-color: inherit;
}
