nav.nav.justify-content-center
	a.nav-link('routerLinkActive'='active', '[routerLinkActiveOptions]'='{exact: true}', 'routerLink'='') Home
	a.nav-link('routerLinkActive'='active', 'routerLink'='/work') Work
	a.nav-link('routerLinkActive'='active', 'routerLink'='/projects') Projects

