ul.nav.navbar-nav
	li.nav-item('routerLinkActive'='active', '[routerLinkActiveOptions]'='{exact: true}')
		a.nav-link('routerLink'='') Home
	li.nav-item('routerLinkActive'='active')
		a.nav-link('routerLink'='/work') Work
	li.nav-item('routerLinkActive'='active')
		a.nav-link('routerLink'='/projects') Projects
	li.nav-item('routerLinkActive'='active')
		a.nav-link('routerLink'='/pisulki') Pisulki

