.container.card
	.row
		.col
			h1.display-1 Skills


			h2 Technical

			h4.category Data Science
			skills('category'='data-science')

			h4.category Programming Languages
			skills('category'='programming-language')

			h4.category Markup Languages
			skills('category'='markup-language')

			h4.category Frameworks
			skills('category'='framework')

			h4.category Data Storage Systems
			skills('category'='databases')

			h4.category Version Control Systems
			skills('category'='version-control')

			h4.category Style Sheet Languages
			skills('category'='stylesheet-language')

			h4.category Web Servers
			skills('category'='web-server')

			h4.category Server Administration
			skills('category'='server')


			h2 Communication

			h4.category Technical & Business
			skills('category'='communication-general')


			h2 Project management

			h4.category Methodologies
			skills('category'='project-methodologies')

			h4.category Trackers
			skills('category'='project-trackers')

			h2 Languages
			skills('category'='languages')

