.container.card
	.row
		.col
			h1.display-1 Education

			.text-center: img.w-75(src='/build/statics/images/kpi.png')
			h4.display-4.text-center Master degree at NTUU “KPI”, Faculty of Informatics and Computer Science
