html, body, app {
	background-color: #000;
	min-height: 100vh;
}

app {
	display: block;
	background: #29262b;
	color: #172e3c;
	padding: 1em 0;

	&.loaded {
		background: url('../statics/images/bg-min.jpg');
		background-size: auto 100vh;
		background-attachment: fixed;
		background-position: 50% 0;
	}
}

.card {
	background: rgba(255, 255, 255, .4);

	.row {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}
}

.photo {
	border-radius: .25em;
}

.primary-links {
	.row {
		margin-top: 0;
	}

	.btn {
		margin: 0.5em 0 0 0.5em;
	}
}


.date {
	width: 6em;
	text-align: center;
	padding: 0;
	margin: 0;

	background: red;
}

.date__date,
.date__year {
	//display: inline-block;
}

.date__date {
	font-size: 1.8em;
}
.date__year {
	font-size: 2em;
}
