.media
	ng-container('*ngIf'='skill.icon')
		img.img-thumbnail.rounded.mr-3('[src]'='skill.icon')
	.media-body
		h4.mt-0 {{skill.name}}
		h5 {{skill.category}} {{skill.type}}
		span {{skill.description}}

