.row
	.col-4.text-center
		ng-container('*ngIf'='skill.icon')
			img.img-thumbnail.rounded('[src]'='skill.icon')

		.badge(
			'[class.badge-primary]'='skill.type === "primary"',
			'[class.badge-info]'='skill.type === "secondary"'
		) {{skill.type}}
	.col
		h4 {{skill.name}}
		.description {{skill.description}}

