.container.card
	.row
		.col
			h1.display-1 Skills

			skills('category'='programming-language')
				span.category Programming Languages

			skills('category'='framework')
				span.category Frameworks

			skills('category'='databases')
				span.category Data Storage
