:host {
	//display: inline-block;
}

img,
.img-placeholder {
	width: 64px;
	height: 64px;
}

.img-placeholder {
	display: inline-block;
	background: #ccc;
}

.description {
	font-size: 0.8em;
}

.badge {
	font-size: 0.6em;
}
