.container.card
	.row.p-x-1
		navbar
	.row
		.col-md-8.text-xs-center.text-md-right
		.col-md-4.text-xs-center
			img.photo(src='https://www.gravatar.com/avatar/8802c03fd20b3b6ce67c4f3e03270409?s=200')

.container
	router-outlet
