
.date {
	width: 6em;
	text-align: center;
	padding: 0;
	margin: 0;

	background: red;
}

.date__date,
.date__year {
//display: inline-block;
}

.date__date {
	font-size: 1.8em;
}

.date__year {
	font-size: 2em;
}
