
nav.nav
	a.nav-link('routerLinkActive'='active', 'routerLink'='/work/jobs') Employment History
	a.nav-link('routerLinkActive'='active', 'routerLink'='/work/skills') Skills
	a.nav-link('routerLinkActive'='active', 'routerLink'='/work/education') Education

router-outlet
