
.container
	ul.nav.navbar-nav
		li.nav-item('routerLinkActive'='active')
			a.nav-link('routerLink'='/work/cv') CV
		li.nav-item('routerLinkActive'='active')
			a.nav-link('routerLink'='/work/skills') Skills



router-outlet
